[Unit]
Description="uWSGI server instance for timeapi"
After=network.target

[Service]
User=tytorr
Group=www-data

WorkingDirectory=/home/tytorr/workspace/time-challenge
# Environment="FLASK_ENV=test"
ExecStart=/home/tytorr/.local/bin/uwsgi --ini /home/tytorr/workspace/time-challenge/timeapi.ini

[Install]
WantedBy=multi-user.target